**/.vscode
**/bin
**/export
**/include
**/lib
**/libold
**/obj
**/src
*.txt
*.dll
vasarely.cpp
tortvonalrajzolo.cpp
togglebutton.hpp
togglebuttonselector.hpp
keyboard.hpp
button.[a-z]pp
checkbox.[a-z]pp
widgets.[a-z]pp
MainWindow.cpp
test.cpp
mainOld.cpp
postit_circle.cpp
pontrajzolo.cpp
type.h
havazas_hazi.cpp
havazas_hazi2.cpp
havazas.cpp
haromszog_hatterrel.cpp
haromszog.cpp
*.cbp
*.depend
*.layout
*.cscope_file_list
*.otf
*.ttf
